{deps, [
    {'cowboy', ".*", {
        git, "git://github.com/extend/cowboy.git", {tag, "2.8.0"}}
    },
    {'lager', ".*", {
        git, "git://github.com/basho/lager.git", {tag, "3.2.4"}}
    },
    {'uuid', ".*", {
        git, "git://github.com/okeuday/uuid.git", {tag, "v2.0.0"}}
    },
    {'jsone', ".*", {
        git, "git://github.com/sile/jsone.git", {tag, "1.5.2"}}
    }
]}.
{overrides, [
    {override, jsone, [{erl_opts, [{d, 'ENABLE_HIPE'}, inline]}]}
]}.
{relx, [{release, {multiscreen_ws, "2.1.0"},
         [multiscreen_ws]},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]}.
